
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {

  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

:root {
  --light: #FCFFFE,
  --lightMed: #E3E6E4,
  --Medium: #BDBFBE,
  --MedDark: #7E807F,
  --Dark: #3F403F,
}