:root {
  --light: #fdca95;
  --lightMed: #e3a886;
  --Medium: #fab29f;
  --MedDark: #e38c86;
  --Dark: #fd95b0;
  --Red: #ff4e4e;
}
.main {
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow-x: hidden;
  margin-bottom: 2.4em;
}

h1 {
  display: flex;
  justify-content: center;
}

h1 strong {
  border-radius: 5px;
  margin: 0px 10px;
  padding: 0px 5px;
  background-color: var(--Red);
  color: white;
}
.text {
  margin: auto;
  width: 100%;
  max-width: 500px;
}

.text p {
  font-size: 16pt;
  background-color: var(--Medium);
  padding: 5px;
  border-radius: 5px;
  text-indent: 1em;
  text-align: center;
}

.button {
  text-align: center;
}

.addRoutine {
  padding: 10px;
  margin: auto;
  border: none;
  font-size: 18pt;
  margin: 21px auto;

  background-color: var(--Red);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s;
}

.addRoutine:hover {
  background-color: var(--light);
  color: black;
  box-shadow: 0px 0px 10px var(--Red);
}

.footerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.7vh;
  padding: 5px;

  margin: auto;
  background-color: var(--Medium);
}

@media screen and (max-width: 430px) {
  .text {
    width: 100%;
    margin: auto;
  }
  .text p {
    transition: 0.7s;
    max-width: 250px;
    width: 100%;
    height: 27vh;
    font-size: 12pt;
    margin: auto;
  }

  .footerDiv {
    transition: 0.7s;
    height: 10vh;
    text-align: center;
    padding: 5px;
  }

  .main {
    height: 55vh;
  }


}
