:root {
  --light: #fcfffe;
  --lightMed: #e3e6e4;
  --Medium: #bdbfbe;
  --MedDark: #7e807f;
  --Dark: #3f403f;
  --Red: #ff4e4e;
}

.routine {
  text-align: center;
}

.backList {
  background-color: var(--MedDark);
  padding: 0.5em;
  width: 100%;
  max-width: 900px;
  margin: auto;

  display: flex;
  justify-content: center;
}

.listHour {
  list-style: none;
  padding: 0px;
}

.itensR {
  background-color: var(--Red);
  color: white;
  font-weight: bold;
  margin: 5px 0px;
  width: 150px;
  display: flex;
  height: 55.5px;
  align-items: center;
  justify-content: space-around;
}

.listName {
  list-style: none;
  padding: 0px;
}

.itensN {
  background-color: var(--lightMed);
  padding: 15px;
  margin: 5px 0px;
  width: 200px;
  height: 25.5px;
}

.delete{
  color: white;
  cursor: pointer;
  background-color: var(--Dark);
  transition: .7s;
  font-size: 11pt;
  border-radius: 5px;
}

.delete:hover{
  color: var(--Dark);
  background-color: var(--light)
}

.tittleCalc{
  text-align: center;
}

.questionHour{
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 900px;
  width: 100%;
  align-items: center;
  border: none;
}

.instructions{
  width: 100%;
  max-width: 900px;
  margin: auto;
  background-color: var(--MedDark);
  color: white;
  padding: 10px;
  text-align: center;
}

