:root {
  --light: #fcfffe;
  --lightMed: #e3e6e4;
  --Medium: #bdbfbe;
  --MedDark: #7e807f;
  --Dark: #3f403f;
  --Red: #ff4e4e;
}

.routine {
  text-align: center;
}

.backList {
  background-color: var(--MedDark);
  padding: 0.5em;
  width: 100%;
  max-width: 900px;
  margin: auto;

  display: flex;
  justify-content: center;
}

.listHour {
  list-style: none;
  padding: 0px;
}

.itensR {
  padding: 15px;
  background-color: var(--Red);
  color: white;
  font-weight: bold;
  margin: 5px 0px;
  width: 150px;
}

.listName {
  list-style: none;
  padding: 0px;
}

.itensN {
  background-color: var(--lightMed);
  padding: 15px;
  margin: 5px 0px;
  width: 200px;
}
