:root {
  --light: #fdca95;
  --lightMed: #e3a886;
  --Medium: #fab29f;
  --MedDark: #e38c86;
  --Dark: #fd95b0;
}

.categories {
  width: 103%;
  height: 10vh;
  background-color: var(--Medium);
  color: black;

  border-top: 1px solid var(--Dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.categoriesItem {
  cursor: pointer;

  width: 100px;
  margin: 0px 20px 0px 20px;
  transition: 0.7s;
  text-align: center;
}

.categoriesItem:hover {
  background-color: var(--MedDark);
  border-radius: 5px;
  color: var(--light);
}

.categoriesItem a {
  text-decoration: none;
  color: black;
}

.display {
  display: none;
}

@media screen and (max-width: 430px) {
  .categories {
    height: 7vh;
    font-size: 12pt;
    width: 100%;
  }

  .categories:hover {
    background-color: var(--MedDark);
    border-radius: 5px;
    color: var(--light);
  }

  .categoriesItem {
    cursor: pointer;

    margin: 0px 20px 0px 20px;
    transition: 0.7s;
    text-align: center;
  }

  #taskHour {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #taskName {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .tittleH1 {
    transition: 0.7s;
    font-size: 15pt;
  }
}

@media screen and (max-width: 490px) {
  #taskHour {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
