:root {
  --light: #FDCA95;
  --lightMed: #E3A886;
  --Medium: #FAB29F;
  --MedDark: #E38C86;
  --Dark: #FD95B0;
  --Red: #ff4e4e;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: hidden;

  color: black;
  background-color: #ffe9d2;
  padding: 5px;
  font-size: 16pt;
}

.navbar svg {
  cursor: pointer;
}

.icon {
  display: block;
}

.iconNone {
  display: none;
}

.showMenu {
  display: flex;
}

.hiddenMenu {
  display: none;
}
