:root {
  --light: #fcfffe;
  --lightMed: #e3e6e4;
  --Medium: #bdbfbe;
  --MedDark: #7e807f;
  --Dark: #3f403f;
  --Red: #ff4e4e;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: hidden;

  color: var(--Dark);
  background-color: #e3e6e4;
  padding: 5px;
  font-size: 16pt;
}

.navbar svg {
  cursor: pointer;
}

.icon {
  display: block;
}

.iconNone {
  display: none;
}

.showMenu {
  display: flex;
}

.hiddenMenu {
  display: none;
}
